/* Card modal */
/* Card modal */
div[aria-labelledby="card-back-name"] {
	width: 70vw !important;
}

/* Card - left panel (main) */
div[aria-labelledby="card-back-name"] main {
	flex-basis: 30vw !important;
	flex-shrink: 1 !important;
	flex-grow: 0 !important;
	width: auto !important;
}

div[aria-labelledby="card-back-name"] main > div {
	max-width: 100% !important;
}

/* Card - right panel (aside) */
div[aria-labelledby="card-back-name"] aside {
	flex: 1 1 auto !important;
	width: auto !important;
}

div[aria-labelledby="card-back-name"] aside > div {
	width: 100% !important;
	padding: 20px 40px !important;
}

/* Notication Panels */

.atlaskit-portal-container section {
  width: 600px !important;
}

.atlaskit-portal-container section div[data-testid="unread-notification"] > div {
  width: 536px;
}


