/* Card modal */

div[aria-labelledby="card-back-name"] {
	width: 70vw !important;
	display: flex !important;
	flex-wrap: wrap !important;
}

div[aria-labelledby="card-back-name"] main {
	flex: 1 1 300px !important;
	min-width: 0 !important;
}

div[aria-labelledby="card-back-name"] aside {
	flex: 1 1 300px !important;
	width: auto !important;
}

div[aria-labelledby="card-back-name"] aside > div {
	width: 100% !important;
	padding: 20px 40px !important;
}

/* Notication Panels */

.atlaskit-portal-container section {
  width: 600px !important;
}

.atlaskit-portal-container section div[data-testid="unread-notification"] > div {
  width: 536px;
}


